<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<div class="wrapper">
    <div class="center-line">
        <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-map-marker-alt"></i>
            <div class="details">
                <span class="title" style="color: rgb(28, 164, 51);">ANDROID DEVLOPMENT</span>
                <!-- <span>6th Jan 2021</span> -->
            </div>
            <p class="para">Best Courses to refine knowledge in Android</p>
            <div class="bottom">
                <a href="https://www.udemy.com/course/the-complete-android-10-developer-course-mastering-android/learn/">Udemy Course 1</a>
                <a href="https://www.udemy.com/course/android-kotlin-developer/learn/">Udemy Course 2</a>
            </div>
        </section>
    </div>
    <div class="row row-1">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Java or Kotlin:</span>
            </div>
            <p class="para"> <br>
                1.Syntax and basic concepts <br><br><br>
                2.Object-oriented programming principles <br><br><br>
                3.Android-specific features and APIs <br>
            </p>
            <div class="bottom">
                <a href="https://www.w3schools.com/java/">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Android Studio:</span>
            </div>
            <p class="para"> <br>
                1.Installing and setting up Android Studio <br><br><br>
                2.Creating and managing projects <br><br><br>
                3.Using the layout editor and other design tools <br><br><br>
                4.Running and debugging apps on emulators and devices <br>
            </p>
            <div class="bottom">
                <a href="https://developer.android.com/studio">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-1">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">User Interface (UI) Design:</span>
            </div>
            <p class="para"> <br>
                1.Understanding layouts and views <br><br><br>
                2.Using XML attributes and resources <br><br><br>
                3.Applying styles and themes <br><br><br>
                4.Handling different screen sizes and densities<br>
            </p>
            <div class="bottom">
                <a href="https://www.usability.gov/what-and-why/user-interface-design.html">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Android SDK:</span>
            </div>
            <p class="para"> <br>
                1.Understanding the Android platform architecture <br><br><br>
                2.Using the Android SDK Manager to install and manage SDK components <br><br><br>
                3.Exploring the Android API documentation <br><br><br>
                4.Working with different Android versions and API levels<br>
            </p>
            <div class="bottom">
                <a href="https://www.geeksforgeeks.org/android-sdk-and-its-components/">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-1">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Activities and Fragments</span>
            </div>
            <p class="para"> <br>
                1.Understanding the activity and fragment lifecycles <br><br><br>
                2.Creating and managing multiple activities and fragments <br><br><br>
                3.Passing data between activities and fragments <br><br><br>
                4.Handling configuration changes and state persistence<br>
            </p>
            <div class="bottom">
                <a href="https://www.geeksforgeeks.org/difference-between-a-fragment-and-an-activity-in-android/">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Intents:</span>
            </div>
            <p class="para"> <br>
                1.Understanding the purpose and types of intents <br><br><br>
                2.Using explicit and implicit intents to start activities, services, and broadcast receivers <br><br><br>
                3.Handling intent filters and URI schemes <br><br><br>
                4.Sending and receiving data with intents<br>
            </p>
            <div class="bottom">
                <a href="https://developer.android.com/guide/components/intents-filters">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-1">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Storage:</span>
            </div>
            <p class="para"> <br>
                1.Using SQLite databases to store and retrieve data <br><br><br>
                2.Using SharedPreferences to store key-value pairs <br><br><br>
                3.Reading and writing files to the file system <br><br><br>
                4.Understanding content providers and using them to share data between apps<br>
            </p>
            <div class="bottom">
                <a href="https://developer.android.com/training/data-storage">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Networking:</span>
            </div>
            <p class="para"> <br>
                1.Understanding the basics of HTTP and HTTPS protocols <br><br><br>
                2.Using HttpURLConnection and other Android networking classes <br><br><br>
                3.Parsing JSON and XML data with libraries like Gson and XmlPullParser <br><br><br>
                4.Handling network errors and retries<br>
            </p>
            <div class="bottom">
                <a href="https://aws.amazon.com/what-is/computer-networking/#:~:text=Computer%20networking%20refers%20to%20interconnected,over%20physical%20or%20wireless%20technologies.">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-1">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Android Libraries and Frameworks:</span>
            </div>
            <p class="para"> <br>
                1.Understanding the purpose and benefits of using third-party libraries and frameworks <br><br><br>
                2.Using Retrofit and OkHttp for efficient and flexible networking <br><br><br>
                3.Using Gson and other serialization libraries to convert data to and from JSON format <br><br><br>
                4.Using RxJava and other reactive programming libraries to handle asynchronous and event-driven programming<br>
            </p>
            <div class="bottom">
                <a href="https://www.aalpha.net/blog/best-android-frameworks-libraries/">Read more</a>

            </div>
        </section>
    </div>
    <div class="row row-2">
        <section>
            <i class="icon fas fa-paper-plane"></i>
            <div class="details">
                <span class="title" style="color: rgb(189, 16, 146);">Google Play Store:</span>
            </div>
            <p class="para"> <br>
                1.Understanding the requirements and guidelines for publishing an app on the Play Store
                2.Preparing your app for release, including signing the app and creating a release build
                3.Creating a Play Store listing, including screenshots, descriptions, and pricing
                Managing your app and analyzing user feedback and analytics<br>
            </p>
            <div class="bottom">
                <a href="https://play.google.com/store/games?hl=en_IN&gl=US&pli=1">Read more</a>

            </div>
        </section>
    </div>
</div>
</body>

</html>