<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarrierHub</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% comment %} <h1>Don't confuse having a career with having a life.</h1> {% endcomment %}
    <div class="container">
      
      <div class="form-wrapper">
        
        <div class="banner">
          <h1>Hello, Friend!</h1>
          <p>Enter your credentials and start youur carrier journey with us</p>
        </div>
        
        <div class="green-bg">
          <button type="button">Log in</button>
        </div>
        <form class="signup-form" method="post" action="{% url 'home'%}">
          {% csrf_token %}
          <h1>Create Account</h1>
          <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
          <p>or use your email for registration</p>
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" name="uname" placeholder="Name" />
          </div>
          <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" />
          </div>
         

          <button type="submit">sign in</button>
          {% comment %} <h1>have account</h1> {% endcomment %}
          {% comment %} <form method="get" action="{% url 'app' %}">
            <button type="submit">sign in</button>
          </form> {% endcomment %}
          {% comment %} <a  href="signin">sign in</a> {% endcomment %} 
        </form>
        
      </div>
    </div>

    <script src={% static "script.js" %}></script>
  </body>
</html>




