<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="center-line">
            <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
        </div>
        <div class="row row-1">
            <section>

                <i class="icon fas fa-home"></i>
                <div class="details">
                    <span class="title" style="color: rgb(189, 16, 146);">Python</span>
                    <span>basics</span>
                </div>
                <p class="para">
                    1.Variables and data types: Learn about Python's basic data types, such as integers, floats,
                    strings, and booleans. Understand how to create and manipulate variables.
                    <a href="https://www.w3schools.com/python/python_datatypes.asp">click to read more</a> <br>
                    2.Control flow: Learn about conditional statements (if/else)
                    <a href="https://www.w3schools.com/python/python_conditions.asp">click to read more</a> <br>
                    3.Loops (for/while) to control the flow of your program.
                    <a
                        href="https://www.w3schools.com/python/python_for_loops.asp#:~:text=A%20for%20loop%20is%20used,other%20object%2Dorientated%20programming%20languages.">click
                        to read more</a>
                    <br>
                    4.Functions: Understand how to define and call functions, and learn about parameters and return
                    statements.
                    <a href="https://www.w3schools.com/python/python_functions.asp">click to read more</a> <br>
                    5.Object-oriented programming (OOP):
                    Learn the fundamentals of OOP, including classes, objects, methods, and inheritance.
                    <a href="https://www.w3schools.com/python/python_classes.asp">click to read more</a>
                </p>
                <div class="bottom">
                    <a href="https://www.geeksforgeeks.org/python-programming-language/learn-python-tutorial/">Click To
                        Read More</a>
                    <a href="https://www.udemy.com/course/complete-python-bootcamp/learn/lecture/20205526#content">Udemy
                        Course</a>
                    <a href="https://www.youtube.com/watch?v=gfDE2a7MKjA">Youtube Course</a>
                    <i>- Access those resources</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title" style="color: red;">Machine Learning</span>
                    <!-- <span>6th Jan 2021</span> -->
                </div>
                <p class="para">Best Courses To refine knowledge in Machine Learning</p>
                <div class="bottom">
                    <a href="https://www.udemy.com/course/machinelearning/learn/">Udemy Course 1</a>
                    <a href="https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/learn/">Udemy
                        Course 2</a>
                    <i>- Access those resources</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">Mathmatics</span>
                    <!-- <span>Mathmatics required</span> -->
                </div>
                <p class="para">1. Linear algebra and calculus: Learn the basics of linear algebra and calculus, which
                    are essential for understanding the underlying math behind machine learning algorithms.
                    <a href="https://www.coursera.org/learn/linear-algebra-machine-learning">Click to Read</a> <br>
                    2. Probability and statistics: Familiarize yourself with probability and statistics, which are
                    crucial for understanding how machine learning models make predictions and how to evaluate their
                    performance.
                    <a href="https://www.coursera.org/learn/machine-learning-probability-and-statistics">Click to
                        Read</a> <br>
                </p>
                <div class="bottom">
                    <a href="https://www.w3schools.com/ai/ai_mathematics.asp">Read More</a>
                    <i>- Access those resources</i>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-rocket"></i>
                <div class="details">
                    <span class="title">NumPy</span>
                    <span>3rd Jan 2021</span>
                </div>
                <p class="para">
                    NumPy arrays: <a
                        href="https://www.w3schools.com/python/numpy/numpy_creating_arrays.asp">click</a><br>
                    Array indexing: <a
                        href="https://www.w3schools.com/python/numpy/numpy_array_indexing.asp">click</a><br>
                    Broadcasting: <a href="https://numpy.org/doc/stable/user/basics.broadcasting.html">click</a><br>
                    Array manipulation: <a
                        href="https://numpy.org/doc/stable/reference/routines.array-manipulation.html">click</a><br>
                    Array reshaping: concatenate() and stack() functions. <a
                        href="https://numpy.org/doc/stable/reference/generated/numpy.stack.html">click</a><br>
                    Array splitting: <a
                        href="https://www.w3schools.com/python/numpy/numpy_array_split.asp">click</a><br>
                    Mathematical operations:
                    Universal functions: <br>
                    Linear algebra: <br>
                    Statistics:
                    <br>
                    Masked arrays: <a href="https://numpy.org/doc/stable/reference/maskedarray.html">click</a><br>
                    Structured arrays: <a href="https://numpy.org/doc/stable/user/basics.rec.html">click</a><br>
                </p>
                <div class="bottom">
                    <a href="https://numpy.org/doc/stable/reference/generated/numpy.array.html">Read more</a>
                    <i>- Someone famous</i>
                </div>
            </section>
        </div>
        <br> <br>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-globe"></i>
                <div class="details">
                    <span class="title">pandas</span>
                    <span>4th Jan 2021</span>
                </div>
                <p class="para">
                    1.Data ingestion and reading functions: <br>
                    read_csv(): reads a CSV file and returns a DataFrame object. <br>
                    read_excel(): reads an Excel file and returns a DataFrame object. <br>
                    read_sql(): reads data from a SQL database and returns a DataFrame object. <br>
                    read_json(): reads data from a JSON file and returns a DataFrame object. <br>
                    read_html(): reads data from an HTML file and returns a list of DataFrame objects <br>. <br>
                    2.Data manipulation and transformation functions: <br>
                    merge(): merges two DataFrames based on a common column or index. <br>
                    concat(): concatenates two or more DataFrames along a particular axis. <br>
                    groupby(): groups data based on one or more columns and applies a function to each group. <br>
                    pivot_table(): creates a pivot table based on the data in a DataFrame. <br>
                    apply(): applies a function to each element or row of a DataFrame. <br>
                    drop(): removes rows or columns from a DataFrame. <br>
                    rename(): renames columns or index labels in a DataFrame. <br></p>
                <div class="bottom">
                    <a href="https://pandas.pydata.org/">Read more</a>
                    <i>- read more here</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-paper-plane"></i>
                <div class="details">
                    <span class="title">Matplotlib</span>
                    <span>5th Jan 2021</span>
                </div>
                <p class="para">1.Basic plotting functions: <br>
                    plot(): plots x-y data as lines or markers. <br>
                    scatter(): creates a scatter plot of x-y data. <br>
                    bar(): creates a bar chart. <br>
                    hist(): creates a histogram of data. <br>
                    pie(): creates a pie chart. <br>
                    2.Plot customization functions: <br>
                    xlabel(): sets the label for the x-axis. <br>
                    ylabel(): sets the label for the y-axis. <br>
                    title(): sets the title of the plot. <br>
                    legend(): creates a legend for the plot. <br>
                    xlim(): sets the limits of the x-axis. <br>
                    ylim(): sets the limits of the y-axis. <br>
                    xticks(): sets the tick locations and labels for the x-axis. <br>
                    yticks(): sets the tick locations and labels for the y-axis. <br>
                    grid(): adds a grid to the plot. <br>
                    3.Subplotting and layout functions: <br>
                    subplots(): creates a grid of subplots. <br>
                    subplot(): creates a single subplot within a grid. <br>
                    tight_layout(): automatically adjusts the spacing between subplots. <br>
                    Advanced plotting functions: <br>
                    contour(): creates a contour plot. <br>
                    imshow(): displays an image. <br>
                    quiver(): creates a quiver plot. <br>
                    streamplot(): creates a stream plot. <br>
                    4.3D plotting functions: Matplotlib also provides functions for creating 3D plots, such as
                    plot_surface(), scatter3D(), and contour3D(). <br></p>
                <div class="bottom">
                    <a href="https://matplotlib.org/">Read more</a>
                    <i>- read more here</i>
                </div>
            </section>
        </div>
        <br><br><br>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title">seaborn</span>
                    <span>6th Jan 2021</span>
                </div>
                <p class="para">Basic plotting functions: <br> <br>
                    sns.lineplot(): draws a line plot. <br>
                    sns.scatterplot(): draws a scatter plot. <br>
                    sns.barplot(): draws a bar plot. <br>
                    sns.countplot(): draws a count plot. <br>
                    sns.histplot(): draws a histogram. <br>
                    Categorical plotting functions: <br>
                    sns.catplot(): draws a categorical plot. <br>
                    sns.boxplot(): draws a box plot. <br>
                    sns.violinplot(): draws a violin plot. <br>
                    sns.swarmplot(): draws a swarm plot. <br>
                    sns.stripplot(): draws a strip plot. <br>
                    Matrix plotting functions: <br>
                    sns.heatmap(): draws a heatmap. <br>
                    sns.clustermap(): draws a hierarchical clustering heatmap. <br>
                    Regression plotting functions: <br>
                    sns.regplot(): draws a regression plot. <br>
                    sns.lmplot(): draws a regression plot with additional options. <br>
                    sns.residplot(): draws a residual plot. <br>
                    Style and color functions: <br>
                    sns.set_style(): sets the style of the plot. <br>
                    sns.set_palette(): sets the color palette. <br>
                    sns.color_palette(): returns the current color palette. <br>
                    sns.despine(): removes spines from a plot. <br>
                    sns.set(): sets the seaborn style and context. <br>
                    Other functions: <br>
                    sns.pairplot(): draws pairwise relationships between variables in a dataset. <br>
                    sns.jointplot(): draws a joint plot with marginal distributions. <br>
                    sns.kdeplot(): draws a kernel density estimate plot. <br>
                    sns.rugplot(): draws a rug plot along the x or y-axis. <br></p>
                <div class="bottom">
                    <a href="https://seaborn.pydata.org/">Read more</a>
                    <!-- <a href="#">Read more</a> -->
                    <i>- Someone famous</i>
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-paper-plane"></i>
                <div class="details">
                    <span class="title" style="color: rgb(33, 21, 92);">(a) Supervised learning</span>
                    <!-- <span>5th Jan 2021</span> -->
                </div>
                <p class="para" style="font-size: 21px;">TYPES <br>
                <div class="bottom">
                    <!-- <a href="https://matplotlib.org/">Read more</a> -->
                    <!-- <i>- read more here</i> -->
                </div>
            </section>
        </div>
        <br><br>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-paper-plane"></i>
                <div class="details">
                    <span class="title" style="color: rgb(33, 21, 92);">(i) Regression Algorithms</span>
                    <!-- <span>5th Jan 2021</span> -->
                </div>
                <p class="para" style="font-size: 17px;">
                    1.Linear Regression: A linear regression model tries to fit a line that best describes the
                    relationship between the input variables and the output variable. <br><br>
                    2.Polynomial Regression: A polynomial regression model uses higher degree polynomial functions to
                    capture more complex relationships between input and output variables. <br><br>
                    3.Ridge Regression: A ridge regression model is a linear regression model with an additional L2
                    regularization term in the cost function to prevent overfitting. <br><br>
                    4.Lasso Regression: A lasso regression model is a linear regression model with an additional L1
                    regularization term in the cost function to prevent overfitting. <br><br>
                    5.Support Vector Regression: A support vector regression model is based on the support vector
                    machine algorithm and is used to predict continuous variables. <br><br> <br>
                <div class="bottom">
                    <a
                        href="https://www.tutorialspoint.com/machine_learning_with_python/machine_learning_with_python_regression_algorithms_overview.htm">Read
                        more</a>
                    <!-- <i>- read more here</i> -->
                </div>
            </section>
        </div>
        <br><br>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-paper-plane"></i>
                <div class="details">
                    <span class="title" style="color: rgb(33, 21, 92);">(ii) Classification Algorithms</span>
                    <!-- <span>5th Jan 2021</span> -->
                </div>
                <p class="para" style="font-size: 21px;">
                    1.Logistic Regression: A logistic regression model is used for
                    binary classification problems where the output variable is either 0 or 1. <br> <br>
                    2.Naive Bayes: A Naive Bayes classifier is based on the Bayes theorem and is commonly used in text
                    classification. <br> <br>
                    3.Decision Trees: A decision tree classifier is a tree-like model that partitions the input space
                    into
                    subsets based on the values of input variables and predicts the output variable based on the
                    majority class of the corresponding subset. <br> <br>
                    4.Random Forests: A random forest classifier is an ensemble of decision trees, where each tree is
                    trained on a random subset of the input variables and the final output is determined by majority
                    voting. <br> <br>
                    5.Support Vector Machines: A support vector machine classifier is used to classify data by finding
                    the
                    best hyperplane that separates the classes. <br> <br> <br>
                <div class="bottom">
                    <a href="https://www.javatpoint.com/classification-algorithm-in-machine-learning">Read more</a>
                    <!-- <i>- read more here</i> -->
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title">(b) Unsupervised Algorithms</span>
                    <!-- <span>6th Jan 2021</span> -->
                </div>
                <p class="para" style="font-size: 21px;">TYPES <br>
                <div class="bottom">
                    <a href="https://www.ibm.com/topics/unsupervised-learning#:~:text=the%20next%20step-,What%20is%20unsupervised%20learning%3F,the%20need%20for%20human%20intervention.">Read more</a>
                    <!-- <i>- Someone famous</i>
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title">(i) Clustering algorithms:</span>
                    <!-- <span>6th Jan 2021</span> -->
                </div>
                <br><br>
                <p class="para" style="font-size: 21px;">
                    1.K-Means: A K-Means algorithm partitions the input data into K clusters based on the similarity of
                    data points to each other. <br>
                    2.Hierarchical clustering: A hierarchical clustering algorithm creates a tree-like structure of
                    nested
                    clusters, where the similarity between data points is measured by distance metrics. <br>
                    3.DBSCAN: A DBSCAN algorithm is used to cluster dense regions of data points and identify outliers.
                    <br>
                    <br>
                <div class="bottom">
                    <!-- <a href="https://seaborn.pydata.org/">Read more</a> -->
                    <!-- <a href="#">Read more</a> -->
                    <!-- <i>- Someone famous</i> -->
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title">(ii) Dimensionality reduction algorithms:</span>
                    <!-- <span>6th Jan 2021</span> -->
                </div>
                <br><br>
                <p class="para" style="font-size: 21px;">
                    1.Principal Component Analysis (PCA): A PCA algorithm is used to reduce the dimensionality of the
                    input data by projecting it onto a lower-dimensional space that captures most of the variance in the
                    data. <br>
                    2.t-SNE: A t-SNE algorithm is used for visualization by mapping high-dimensional data onto a
                    low-dimensional space that preserves the similarity between data points.
                    <br>
                <div class="bottom">
                    <!-- <a href="https://seaborn.pydata.org/">Read more</a> -->
                    <!-- <a href="#">Read more</a> -->
                    <!-- <i>- Someone famous</i> -->
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-paper-plane"></i>
                <div class="details">
                    <span class="title">(C) Reinforcement learning</span>
                    <!-- <span>5th Jan 2021</span> -->
                </div>
                <p class="para"></p>
                <div class="bottom">
                    <a href="https://www.techtarget.com/searchenterpriseai/definition/reinforcement-learning#:~:text=Reinforcement%20learning%20is%20a%20machine,learn%20through%20trial%20and%20error.">Read more</a>
                    <!-- <i>- read more here</i> -->
                </div>
            </section>
        </div>
        <div class="row row-1">
            <section>
                <i class="icon fas fa-paper-plane"></i>
                <div class="details">
                    <span class="title" style="font-size: 21px;">TYPES</span>
                    <!-- <span>5th Jan 2021</span> -->
                </div>
                <p class="para" style="font-size: 21px;">
                    1.Q-learning: Q-learning is a model-free, off-policy
                    reinforcement learning algorithm that learns to estimate the optimal action-value function for a
                    given environment. It is based on the Bellman equation and uses an epsilon-greedy policy to explore
                    the environment. <br><br>

                    2.Deep Q-Networks (DQN): DQN is an extension of Q-learning that uses a neural network to approximate
                    the action-value function. It also uses experience replay and target networks to stabilize the
                    learning process. <br><br>

                    3.Policy Gradient: Policy Gradient is a model-free, on-policy reinforcement learning algorithm that
                    learns to optimize the policy directly. It uses gradient ascent to update the policy parameters and
                    typically uses a neural network to parameterize the policy. <br><br>

                    4.Actor-Critic: Actor-Critic is a model-based, on-policy reinforcement learning algorithm that
                    combines the advantages of value-based and policy-based methods. It learns to estimate both the
                    value function and the policy, and uses these estimates to update the parameters. <br><br>

                    5.Monte Carlo Tree Search (MCTS): MCTS is a model-based, tree-based reinforcement learning algorithm
                    that is particularly effective for sequential decision-making problems such as games. It uses a
                    search tree to explore the state space and estimate the value of each action. <br><br></p>
                <div class="bottom">
                    <!-- <a href="https://matplotlib.org/">Read more</a> -->
                    <!-- <i>- read more here</i> -->
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title" style="color: red;">DEEP LEARNING</span>
                    <span>6th Jan 2021</span>
                </div>
                <p class="para">Best Courses To refine knowledge in Deep Learning</p>
                <div class="bottom">
                    <a href="https://www.udemy.com/course/deeplearning/learn/">Udemy Course 1</a>
                    <a
                        href="https://www.udemy.com/course/complete-tensorflow-2-and-keras-deep-learning-bootcamp/learn/">Udemy
                        Course 2</a>
                    <i>- Someone famous</i>
                </div>
            </section>
        </div>
        <br><br>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title" style="color: rgb(80, 147, 61);">(a)Artificial Nural Network (ANNs)</span>
                    <!-- <span>6th Jan 2021</span> -->
                </div>
                <p class="para">
                    Data Preparation: The first step in building an ANN is to prepare the data. This
                    involves cleaning, preprocessing, and normalizing the data to make it suitable for the neural
                    network. The data should also be split into training, validation, and testing sets.
                    <br> <br>
                    Model Architecture: The next step is to design the architecture of the neural network. This involves
                    deciding on the number of layers, the number of neurons in each layer, the activation functions to
                    be used, and the type of loss function to be used.
                    <br> <br>
                    Initialization: The weights and biases of the neural network are randomly initialized before
                    training begins. There are different methods for initialization, including random initialization,
                    Xavier initialization, and He initialization.
                    <br> <br>
                    Forward Propagation: During forward propagation, the input data is passed through the neural
                    network, and the output of each layer is calculated. The output of the last layer is the predicted
                    output.
                    <br> <br>
                    Calculation of Loss: The predicted output is compared to the actual output to calculate the loss
                    using the chosen loss function. The goal is to minimize the loss during training.
                    <br> <br>
                    Backward Propagation: During backward propagation, the gradients of the loss function with respect
                    to the weights and biases are calculated using the chain rule of calculus. These gradients are then
                    used to update the weights and biases using an optimization algorithm such as stochastic gradient
                    descent.
                    <br> <br>
                    Repeat: Steps 4-6 are repeated for multiple epochs until the neural network converges to a solution.
                    <br> <br>
                    Evaluation: Once the neural network is trained, it is evaluated on the testing set to assess its
                    performance. <br> <br>
                </p>
                <div class="bottom">
                    <a href="https://en.wikipedia.org/wiki/Artificial_neural_network">Read More</a>

                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title" style="color: rgb(80, 147, 61);">(b)Convolutional Neural Networks (CNNs)</span>
                    <span>6th Jan 2021</span>
                </div>
                <p class="para">
                    Data Preparation: The first step in building a CNN is to prepare the data. This involves
                    cleaning, preprocessing, and normalizing the data to make it suitable for the neural network. The
                    data should also be split into training, validation, and testing sets.
                    <br> <br>
                    Model Architecture: The next step is to design the architecture of the neural network. This involves
                    deciding on the number of convolutional layers, pooling layers, fully connected layers, the number
                    of filters in each layer, and the size of the filter. The activation functions, dropout, and batch
                    normalization can also be used in the layers of the network.
                    <br> <br>
                    Convolutional Layers: The input data is passed through the convolutional layers. These layers have a
                    set of learnable filters that can be used to extract relevant features from the input data. The
                    filters slide over the input data in a sliding window fashion, producing a feature map.
                    <br> <br>
                    Pooling Layers: The output of the convolutional layers is passed through the pooling layers. These
                    layers reduce the spatial dimensions of the feature map by downsampling the output from the
                    convolutional layers.
                    <br> <br>
                    Flattening: The output of the pooling layers is flattened into a one-dimensional vector, which is
                    then passed through the fully connected layers.
                    <br> <br>
                    Fully Connected Layers: The fully connected layers are used to make predictions based on the
                    extracted features from the input data. These layers have a set of weights that are learned during
                    the training process.
                    <br> <br>
                    Dropout and Batch Normalization: Dropout and Batch Normalization can be used to improve the
                    performance of the CNN. Dropout is used to prevent overfitting by randomly dropping out some of the
                    neurons during training. Batch Normalization is used to normalize the input to each layer, which can
                    help to speed up the training process and improve the performance of the network.
                    <br> <br>
                    Optimization: During training, the weights of the neural network are updated using an optimization
                    algorithm such as stochastic gradient descent.
                    <br> <br>
                    Evaluation: Once the CNN is trained, it is evaluated on the testing set to assess its performance.
                    <br> <br>
                </p>
                <div class="bottom">
                    <a href="https://www.ibm.com/topics/convolutional-neural-networks">Read More</a>

                    <!-- <i>- Someone famous</i> -->
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title" style="color: rgb(80, 147, 61);">(c)Recurrent Neural Networks (RNNs)</span>
                    <span>6th Jan 2021</span>
                </div>
                <p class="para">
                    Data Preparation: The first step in building an RNN is to prepare the data. This
                    involves cleaning, preprocessing, and normalizing the data to make it suitable for the neural
                    network. The data should also be split into training, validation, and testing sets.
                    <br> <br>
                    Model Architecture: The next step is to design the architecture of the neural network. This involves
                    deciding on the number of hidden layers, the number of neurons in each layer, the type of activation
                    functions to be used, and the type of loss function to be used.
                    <br> <br>
                    Initialization: The weights and biases of the RNN are randomly initialized before training begins.
                    There are different methods for initialization, including random initialization, Xavier
                    initialization, and He initialization.
                    <br> <br>
                    Forward Propagation: During forward propagation, the input data is passed through the RNN, and the
                    output of each layer is calculated. The output of the last layer is the predicted output.
                    <br> <br>
                    Calculation of Loss: The predicted output is compared to the actual output to calculate the loss
                    using the chosen loss function. The goal is to minimize the loss during training.
                    <br> <br>
                    Backward Propagation: During backward propagation, the gradients of the loss function with respect
                    to the weights and biases are calculated using the chain rule of calculus. These gradients are then
                    used to update the weights and biases using an optimization algorithm such as stochastic gradient
                    descent.
                    <br> <br>
                    Repeat: Steps 4-6 are repeated for multiple time steps until the RNN converges to a solution.
                    <br> <br>
                    Evaluation: Once the RNN is trained, it is evaluated on the testing set to assess its performance.
                    <br> <br>
                </p>
                <div class="bottom">
                    <a
                        href="https://www.ibm.com/topics/recurrent-neural-networks#:~:text=A%20recurrent%20neural%20network%20(RNN,data%20or%20time%20series%20data.">Read
                        More</a>

                    <!-- <i>- Someone famous</i> -->
                </div>
            </section>
        </div>
        <div class="row row-2">
            <section>
                <i class="icon fas fa-map-marker-alt"></i>
                <div class="details">
                    <span class="title" style="color: rgb(80, 147, 61);">(d)Deep Reinforcement Learning</span>
                    <span>6th Jan 2021</span>
                </div>
                <p class="para">
                    Environment: Define the environment that the agent will interact with, including the observation
                    space, action space, and reward function.
                    <br> <br>
                    Model Architecture: Design the architecture of the neural network. This involves deciding on the
                    number of layers, the type of layers, the number of neurons in each layer, and the type of
                    activation functions to be used. The output layer should correspond to the number of actions
                    available in the environment.
                    <br> <br>
                    Initialization: The weights and biases of the DRL model are randomly initialized before training
                    begins. There are different methods for initialization, including random initialization, Xavier
                    initialization, and He initialization.
                    <br> <br>
                    Agent-Environment Interaction: The agent interacts with the environment by observing the current
                    state and selecting an action based on its policy. The action is passed to the environment, which
                    returns a reward and the next state.
                    <br> <br>
                    Replay Buffer: Store the observed transitions in a replay buffer. This allows the agent to learn
                    from past experiences and break the correlation between consecutive observations.
                    <br> <br>
                    Update: Periodically update the parameters of the DRL model using the data in the replay buffer.
                    This involves sampling a batch of transitions from the replay buffer, computing the loss function,
                    and updating the weights of the neural network using an optimization algorithm such as stochastic
                    gradient descent.
                    <br> <br>
                    Exploration-Exploitation: The agent must balance exploration (trying new actions) and exploitation
                    using the <br> <br>
                </p>
                <div class="bottom">
                    <a href="https://en.wikipedia.org/wiki/Deep_reinforcement_learning">Read More</a>
                    <!-- <i>- Someone famous</i> -->
                </div>
            </section>
        </div>
    </div>

</body>

</html>